<html xmlns:th="http://www.thymeleaf.com">
<head th:replace="fragments::html_head"> 
</head>
<body>
 <nav th:replace="fragments::menu"> </nav>
           
<div class="main">
        <section id="product-list" class="py-5">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h3>Products matching :  [[${keyword}]]</h3>
                    </div>
                </div>

                <div  class="row">
                         <div class="col my-3 text-center" th:if="${products.size() == 0}">
                            <h3>  No products found  </h3>
                            
                         </div>
                    <div  th:each ="product : *{products}" class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                        <div class="card my-3 p-3 rounded shadow p-3 mb-5 bg-white rounded">
                            <a th:href="@{'/products/' + ${product.alias}}">
                                <img class="card-img-top" th:src="@{${product.imagePath}}" alt="">
                            </a>
                            <div class="card-body text-center">
                                
                                <p class="card-text">[[${product.name}]]</p>
                                <h3 class="card-text"><span>&#163;</span>[[${product.price}]]</h3>
                            </div>

                        </div>
                    </div>
                

                </div>
            </div>

        </section>
    </div>

    <!--FOOTER-->
    <footer th:replace="fragments::footer"></footer>

    <div th:replace="fragments::scripts"></div>
</body>

</html>