<html xmlns:th="http://www.thymeleaf.com">
<head th:replace="fragments::html_head"> 
</head>
<body>
 <nav th:replace="fragments::menu"> </nav>
           
<div class="main">
  
  <div class="container py-5">
  <div th:if="${message!=null}" class="alert alert-success text-center">
               <strong>[[${message}]]</strong>
            </div>
  
   <div class="col-md-6 offset-md-3 alert alert-danger mb-3 text-center" th:if="${param.error}">
     		[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]
   </div>
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <h3>Sign in</h3>
                    <form id="loginForm" th:action="@{/login}" method="POST">
                        <div class="form-group">
                            <label for="name">Email Address</label>
                            <input class="form-control"  name="email"  type="email" id="email"  data-parsley-type="email" placeholder="Enter Address" data-parsley-trigger ="focusout" required>
                        </div>
                        <div class="form-group">
                            <label for="name">Password</label>
                            <input class="form-control" name="password" type="password" id="password" data-parsley-trigger ="focusout" placeholder="Enter Password" required>
                        </div>
                        <button class="btn btn-primary">SIGN IN</button>
                        <div class="pt-3">
                            New Customer ? <a th:href="@{/signup}"> Register Here</a>
                        </div>


                    </form>


                </div>
            </div>
        </div>
    </div>

    <!--FOOTER-->
    <footer th:replace="fragments::footer"></footer>

    <div th:replace="fragments::scripts"></div>
</body>

</html>