<html xmlns:th="http://www.thymeleaf.com">
<head th:replace="fragments::html_head"> 
</head>
<body>
 <nav th:replace="fragments::menu"> </nav>
           
<div class="main">
        <!----PLACE CONTENT HEHE-->
                <div class="container py-5">
                <div th:if="${message!=null}" class="alert alert-success text-center">
               <strong>[[${message}]]</strong>
            </div>
            <h3>ORDERS</h3>       
            <table class="table table-striped table-bordered table-sm">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th> First Name</th>
                        <th>Last Name</th>
                        <th>Order Date</th>
                        <th>Payment status</th>
                         <th>Delivery Status</th>
                         <th>Total(<span>&#163;</span>)</th>
                          <th>VIEW</th>
                         <th>ACTIONS</th>
                       
                    </tr>
                </thead>
                <tbody>
                      <tr th:each="order : ${orders}">
                        <th scope="row">[[${order.orderId}]]</th>
                        <td>[[${order.firstName}]]</td>
                        <td>[[${order.lastName}]]</td>
                        <td>[[${#dates.format(order.orderTime, 'dd-MM-yyyy')}]]</td>
                          <td class="text-center"  th:switch="${order.paymentStatus}">
                            <i class="fas fa-check" th:case=true></i>
                            <i class="fas fa-times" th:case=false></i>
                        </td>
                        <td  > <span class="badge rounded-pill bg-info">[[${order.orderStatus}]]</span></td>
                        <td>[[${order.total}]]</td>
                        <td>
                            <a th:href="@{'/orders/' + ${order.orderId}}" class="btn btn-warning btn-sm"><i class="fas fa-eye"></i></a>
                            
                        </td>
                        <td >
                           <a  th:href="@{'/admin/orders/update/' + ${order.orderId}}" th:attr="data-id=${order.orderId}"
                                class="btn btn-light btn-sm editOrder w-25 text-center" data-toggle="modal"
                                data-target="#orderEditModal" ><i class="fas fa-edit" th:attr="data-id=${order.orderId}"></i></a>    
                                <a href="#" class="btn btn-danger btn-sm w-25 text-center deleteOrder" th:attr="data-id=${order.orderId}"><i  th:attr="data-id=${order.orderId}" class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
    
    <div class="modal" id="orderEditModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title text-light">Edit Order</h5>
                <button class="close text-light" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form id="userEditModalForm">
                    <div class="form-group">
                        <label for="name">First Name</label>
                        <input class="form-control" name="firstName" type="text" id="firstNameEdit"
                            placeholder="Enter First Name" required data-parsley-pattern="^[A-Za-z]+$"
                            data-parsley-trigger="focusout">
                    </div>
                    <div class="form-group">
                        <label for="name">Last Name</label>
                        <input class="form-control" type="text" id="lastNameEdit" placeholder="Enter Last Name" required
                            data-parsley-pattern="^[A-Za-z]+$" data-parsley-trigger="focusout">
                    </div>
                   <div class="form-group">
                        <label for="name">Address</label>
                        <textarea class="form-control"  name="" id="addressEdit" cols="10"></textarea>

                    </div>
                     <div class="deliveryContainer">
                         <div class="form-group">
                            <label for="name">Delivery Status</label>
                            <select class="form-select" id="orderStatus">
                            <option value="processing"> Processing</option>
                            <option value="delivered"> Delivered</option>
                            <option value="cancelled"> Cancelled</option>
                               
                            </select>
                          </div>
                     
                     </div>

                    <div class="col-sm-8 isPaidContainer">

                        <input type="checkbox" value="true" class="m-2" id="orderPaid" name="orderPaid">
                          PAID 
                    </div>

                    <input type="hidden" id="orderId" value="" />

                </form>
            </div>
            <div class="modal-footer">
                <button id="orderEditButton" class="btn btn-success">Edit</button>
                <button class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

    <!--FOOTER-->
    <footer th:replace="fragments::footer"></footer>

    <div th:replace="fragments::scripts"></div>
</body>

</html>