<html xmlns:th="http://www.thymeleaf.com">
<head th:replace="fragments::html_head"> 
</head>
<body>
 <nav th:replace="fragments::menu"> </nav>
           
<div class="main">
        <!----PLACE CONTENT HEHE-->
                <section id="product-detail" class="py-3">
            <div class="container">
                <h3>Product Detail</h3>

                <div class="row">
                    <div class="col-md-5">
                        <img  th:src="@{${product.imagePath}}" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-4 pr-4">
                        <input type="hidden" th:value ="${product.productId}" id="productId">
                         <input id="productImage" type="hidden" th:value ="${product.imagePath}" >
                         <input id="totalQuantity" type="hidden" th:value ="${totalQuantity}" >
                        <h3 class="item-hl" id="productName">[[${product.name}]]</h3>
                        <p class="item-hl">Place reviews here</p>
                        <p class="item-hl">Price :<span>&#163;</span>[[${product.price}]]</p>
                        <p class="item-hl">Description :
                           [[${product.description}]]
                        </p>
                    </div>
                    <div class="col-md-3">
                        <div class="row ">
                            <div class="col action-item " style="border-right: none;">Price : </div>
                            <div class="col action-item" style="border-left: none;" ><span>&#163;</span><span id="productPrice">[[${product.price}]]</span></div>
                        </div>
                        <div class="row ">
                            <div class="col action-item " style="border-right: none; border-top: none;">Status : </div>
                            <div   th:switch="${product.inStock}" class="col action-item" style="border-left: none; border-top: none;">
                              <span class="text-success" th:case=true>In-stock</span>
                              <span class="text-danger" th:case=false>Out-of-stock</span>
                            
                            </div>
                            
        
                        </div>
                        <div class="row ">
                            <div class="col action-item " style="border-right: none; border-top: none;">Quantity :
                            </div>
                            <div class="col action-item" style="border-left: none; border-top: none;">
                                <select class="form-select" id="productQuantity">
                                    <th:block th:each="i:${#numbers.sequence(1,product.quantity)}" >
                                      <option th:value="${i}">[[${i}]]</option>
                                    </th:block>
                                </select>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col action-item " style="border-top: none;">
                                <button id="addToCart" th:class="${ product.enabled==true && product.inStock==true ? 'btn btn-primary btn-block' : 'btn btn-primary btn-block disabled'}" > ADD TO CART</button>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </section>
    </div>

    <!--FOOTER-->
    <footer th:replace="fragments::footer"></footer>

    <div th:replace="fragments::scripts"></div>
</body>

</html>