<html xmlns:th="http://www.thymeleaf.com">

<head th:replace="fragments::html_head">
</head>

<body>
    <nav th:replace="fragments::menu"> </nav>

    <div class="main">
        <!----PLACE CONTENT HEHE-->

        <div class="container py-5">
            <h3>PRODUCTS</h3>
            <div th:if="${message!=null}" class="alert alert-success text-center">
                <strong>[[${message}]]</strong>
            </div>
            <a th:href="@{/admin/products/create}" class="btn btn-primary mb-4 text-light">CREATE PRODUCT</a>
            <table class="table table-striped table-bordered table-sm">
                <thead>
                    <tr>
                        <th>IMAGE</th>

                        <th>NAME</th>
                        <th>PRICE</th>
                        <th>CATEGORY</th>
                        <th>ENABLED</th>
                        <th>STOCK</th>
                        <th>ACTIONS</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="product :${products}">

                        <th scope="row">
                            <img th:src="@{${product.imagePath}}" alt="" class="img-fluid" height=" 50px" width="50px">
                        </th>
                        <td>[[${product.name}]]</td>
                        <td>[[${product.price}]]</td>
                        <td>[[${product.category.name}]]</td>
                        <td th:switch="${product.enabled}">
                            <i class="fas fa-check" th:case=true></i>
                            <i class="fas fa-times" th:case=false></i>
                        </td>

                        <td th:switch="${product.inStock}">
                            <i class="fas fa-check" th:case=true></i>
                            <i class="fas fa-times" th:case=false></i>
                        </td>

                        <td>
                            <a th:href="@{'/admin/products/edit/' + ${product.productId}}"
                                th:attr="data-id=${product.productId}" class="btn btn-light btn-sm editproduct">
                                <i class="fas fa-edit " th:attr="data-id=${product.productId}"></i></a>
                            <a th:href="@{'/admin/products/delete/' + ${product.productId}}"
                                th:attr="data-id=${product.productId}" class="btn btn-danger btn-sm deleteproduct"><i
                                    th:attr="data-id=${product.productId}" class="fas fa-trash"></i></a>

                        </td>

                    </tr>
                    <tr>
                </tbody>
            </table>
            <div class="text-center text-muted m-3" th:if="${totalItems > 0}">
                <span> Showing products from [[${startCount}]] to [[${endCount}]] of [[${totalItems}]]</span>

            </div>
 
            <div  class="text-center text-muted m-3" th:unless="${totalItems > 0}">
                <span> No Products Found</span>
            </div>

            <div th:if="${totalItems > 0}">
                <ul class="pagination justify-content-center">
                     <li th:class="${ currentPage==1 ? 'page-item disabled' : 'page-item '}">
                        <a class="page-link" th:href="@{/admin/products/page/1}">First</a>
                    </li>
                    <li  th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                        <a class="page-link" th:href="@{'/admin/products/page/' + ${currentPage-1}}">&laquo;</a>
                    </li>
                    
                    <li th:class="${currentPage!=i ? 'page-item' : 'page-item active'}" th:each =" i : ${#numbers.sequence(1,totalPages)}">
                        <a class="page-link" th:href="@{'/admin/products/page/' + ${i}}">[[${i}]]</a>
                    </li>
                    
                   
                    <li th:class="${ currentPage < totalPages ? 'page-item ' : 'page-item disabled'}">
                        <a class="page-link" th:href="@{'/admin/products/page/' + ${currentPage+1}}">&raquo;</a>
                    </li>
                     <li th:class="${ currentPage==totalPages ? 'page-item disabled' : 'page-item '}">
                        <a class="page-link" th:href="@{'/admin/products/page/' + ${totalPages}}">LAST</a>
                    </li>
                </ul>
            </div>


        </div>
    </div>


    <!--FOOTER-->
    <footer th:replace="fragments::footer"></footer>

    <div th:replace="fragments::scripts"></div>
</body>

</html>