<html xmlns:th="http://www.thymeleaf.com">
<head th:replace="fragments::html_head"> 
</head>
<body>
 <nav th:replace="fragments::menu"> </nav>
           
<div class="main">
        <!----PLACE CONTENT HEHE-->
                <div class="container py-5">
             
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <h3>Sign up</h3>
                    <form th:action="@{/signup}" method="POST" th:object="${user}" id="signUp">
                       <div class="form-group">
                            <label for="name">First Name</label>
                            <input class="form-control" name="firstName" type="text" id="firstName"  th:field = "*{firstName}"
                             placeholder="Enter First Name" required data-parsley-pattern="^[A-Za-z]+$" data-parsley-trigger ="focusout">
                        </div>
                        <div class="form-group">
                            <label for="name">Last Name</label>
                            <input class="form-control" type="text" id="lastName" th:field ="*{lastName}"  placeholder="Enter Last Name" required
                            data-parsley-pattern="^[A-Za-z]+$" data-parsley-trigger ="focusout"
                            >
                        </div>
                        <div class="form-group">
                            <label for="name">Email</label>
                            <input class="form-control" type="email" id="email" th:field ="*{email}" placeholder="Enter Email " required
                             data-parsley-type="email" data-parsley-trigger="focusout" data-parsley-checkemail data-parsley-checkemail-message="Email Address already Exists"
                            >

                        </div>
                        <div class="form-group">
                            <label for="name">Password</label>
                            <input class="form-control" type="password" id="password" 
                            th:field ="*{password}" placeholder="Leave blank if you dont want to update password" data-parsley-required="false"
                            data-parsley-length="[6,16]" data-parsley-trigger="focusout"
                           />
                        </div>
                        
                        <div class="form-group">
                            <label for="name">Confirm password</label>
                            <input class="form-control" type="password" id="passwordConfirm" 
                             placeholder="Confirm password" data-parsley-required="false"
                            data-parsley-length="[6,16]" data-parsley-trigger="focusout"
                            data-parsley-equalto="#password" data-parsley-error-message ="Passwords must match"
                           />
                        </div>
                        <button class="btn btn-primary">SIGN UP</button>
                        <div class="pt-3">
                            Already have an account ? <a th:href="@{/login}"> Login Here</a>
                        </div>


                    </form>


                </div>
            </div>
        </div>
    </div>

    <!--FOOTER-->
    <footer th:replace="fragments::footer"></footer>

    <div th:replace="fragments::scripts"></div>
</body>

</html>